body.nis {
    overflow: auto;
}
.text-container {
    padding: 10px;
}
#refreshbutton{
    width: 120px;
}
.container{
  
    left: 20px;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #41555F;
  border: none;
}
#result{
    display:none;
    font-size: 14px;
}
li{
    margin-bottom: 5px;
}
.result-container #statusImage{
    width: 50%;
    height: 50%;
    float:left;
    display: none;
    
}
.result-container{
    width: 90%;
    border: 4px solid gray;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    display:none;
   
}
.result-container #status{
    
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    
  
}
.nisdropdown{
    font-size: 16px;
}
#districtList{
    max-width: 345px;
}